/* reset */
body, ul, li, h1, h2, h3, h4, h5, div, p, span{
	margin:0;
	padding:0;
}
img{border:none;}
/* comment */
body{
	font:12px/21px arial,sans-serif;
	padding-top:9px;
	background:url(images/web_top_bg.gif) top repeat-x;
	color:#ffffff;
	}
#wrap{
	width:100%;
	height:100%;
	background:#000  url(images/web_bg.png) repeat;
}
#content{
	width:900px;
	margin:0 auto;
	padding:0 auto;
	padding-top:90px;
	_height:1%;
	overflow:hidden;
}

#product-info{
	float:left;
	width:380px;
}

#product-info #head{
	padding-top:40px;
}
#product-info .info{
	display:block;
	margin:16px 0;
	padding:20px 0;
	letter-spacing:0.1em;
	border-top:1px dashed #383838;
	border-bottom:1px dashed #383838;
	width:380px;
}
#product-info h2{
	font-size:18px;
}
#product-info #func-recommed{
	list-style:circle;
	margin-top:14px;
	margin-bottom:28px;
}
#product-info #func-recommed li{
	padding-left:8px;
	background:url(images/func_list_img.png) no-repeat left center;
	display:inline;
}
#product-info #share-btn{
	color:#8C8C8C;
	display:block;
	font-size:14px;
	padding-top:10px;
}

#product-info #share-btn a{
	display:inline-block;
	width:18px;
	height:19px;
	text-indent:-9999em;
	margin-left:8px;
	background:url(images/share_btn.gif) no-repeat;
}
#product-info #share-btn .sina{
	background-position:0 0;
}
#product-info #share-btn .sina:hover{
	background-position:0 -18px;
}
#product-info #share-btn .douban{
	background-position:-28px 0;
}
#product-info #share-btn .douban:hover {
	background-position:-28px -18px;
}
#product-info #share-btn .diandian{
	background-position:-55px 0;
}
#product-info #share-btn .diandian:hover{
	background-position:-55px -18px;
}
#product-info #share-btn .renren{
	width:22px;
	background-position:-83px 0;
}
#product-info #share-btn .renren:hover{
	background-position:-83px -18px;
}
#product-info #share-btn .qzone{
	background-position:-116px 0;
}
#product-info #share-btn .qzone:hover{
	background-position:-116px -18px;
}
#down-btn a {
	text-indent:-5000px;
	background:url(images/down_btn.png) 0 0 no-repeat;
	display:inline-block;
	width:120px; height:43px;
}
#down-btn a:hover {
	background-position:0 -43px;
}

#footer{
	border-top:1px solid #383838;
	padding:20px 0;
	width:100%;
	text-align:center;
}
#footer a{
	text-indent:-9999em;
	display:inline-block;
	width:18px;
	height:18px;
	margin-left:8px;
	background:url(images/follow_btn.gif) no-repeat;
}
#footer .sina{
	background-position:0 0;
}
#footer .douban{
	background-position:-26px 0;
}
#footer .diandian{
	background-position:-54px 0;
}

/* index */
#product-show{
	float:left;
	margin-left:170px;
	margin-right:45px;
	clear:both;
	margin-bottom:34px;
	background:url("images/product-show.png") no-repeat;
	width:264px;
	height:584px;
	position:relative;
}
#product-show img{
	position:absolute;
	top:14px;
	left:22px;
}

/* single */
#play-movie{
	float:left;
	width:520px;
	height:435px;
	position:relative;
}
#play-movie #video {
	
}
#movie-info h3{
	padding-bottom:5px;
	font-size:18px;
}

#single-info{
	display:block;
	letter-spacing:0.1em;
	margin-bottom:20px;
}