<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title><?php echo isset($title) ? "{$title} - AnimeTaste" : "AnimeTaste - 你的眼中有大家的世界"; ?></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AnimeTaste">
    <meta name="author" content="AnimeTaste">
	<meta name="apple-itunes-app" content="app-id=444912104">
    <meta name="apple-itunes-app" content="app-id=578126052">
    <!-- Le styles -->
    <link href="../media/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
	padding-top: 60px;
	padding-bottom: 40px;
	background-image: url(/images/web_bg.jpg);
      }
    </style>
    <link href="../media/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
  </head>

  <body background="../images/web_bg.jpg">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
              <li class="active"><a href="#">首页</a></li>
              <li><a href="/">热榜</a></li>
              <li><a href="http://animetaste.net/" target="_blank">APPs</a></li>
            </ul>
            <div class="navbar-form pull-right">
<!--search 
<div class="input-append">
  <input class="span2" id="appendedInputButton" type="text">
  <button class="btn" type="button">Go!</button>
</div> /search -->
<div id="card-button">
  <button class="btn btn-block btn-red" type="button" style=" width:40px; height:30px"><img src="../images/plus.png" /></button></div>

            </div>
            
          </div><!--/.nav-collapse -->
          <div class="nav-collapse collapse">
        </div>
      </div>        <div style="background-image:url(../images/bgline.png); background-repeat:repeat-x; height:2px"></div>
    </div>

    <div class="container" style="margin:30px auto 20px auto">

      <div class="row">
      
                    <div class="span8"> 
      <!-- 观看区域-->
      <div id="content-video" class="shadow" style="padding:10px;">
      	<img src="../images/videocontent.jpg" /> 
      	<div id="content-others" style="margin-top:10px;">
      		<button class="btn btn-red" type="button" style="  height:30px">点此收藏</button> 
      		<span style="color: #999; margin-left:10px;">被围观100次</span> 
       	  <div id="fenxiang" style="position:relative; float:right; "><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<a class="bds_tsina"></a>
<a class="bds_renren"></a>
<a class="bds_douban"></a>
<a class="bds_diandian"></a>
<a class="bds_twi"></a>
<a class="bds_fbook"></a>
<a class="bds_mshare"></a>
<span class="bds_more"></span>
<a class="shareCount"></a>
</div>

<!-- Baidu Button END --></div></div>
        <div id"des" style="margin-top: 20px; padding-bottom:10px;color: #666;">丘比特之箭能让两位陌路人坠入爱河，但是全世界每天那么多人相恋，丘比特是否能忙过来呢？在这个繁杂的工作过程中，出现了疏漏是在所难免的，然而有些错误，是需要不停的弥补才能做到的。
PS，看完这部片子之后知道世界上自恋的人是怎么来的吧？</div>
      </div>
      <!-- /观看区域-->
      
            <!-- 评论-->
      <div id="common-title" style="margin-top: 20px; size: 14px; color: #666666">评论一下：</div>
      <div id="content-video" class="shadow" style=" margin-top:20px;padding:10px;">
      	<!-- Duoshuo Comment BEGIN -->
	<div class="ds-thread"></div>
	<script type="text/javascript">
	var duoshuoQuery = {short_name:"aimozhen"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = 'http://static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		|| document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- Duoshuo Comment END -->
      </div>
      <!-- /评论-->
			  </div>
      
      <!--左侧个人名片 -->
        <div class="span3"> 
        	<div class="shadow" style="padding:10px; margin-bottom:20px;">
                <div id="card-top" style="margin-bottom:50px">
                    <div id="avatar" class="float-left"><img src="../images/at.jpg" width="50" height="50" /></div>
                    <div id="detailed" class="float-left" style="margin-left:10px">
                        <div id="name">Gavin Foo</div>
                        <div id="birday" style="color: #ABABAB; font-size: 12px">2010年11月08日加入</div>
                    </div>    
                </div>
      		</div>	
            
            
            <div class="shadow" style="padding:5px 10px 10px 10px;">
                <div id="post-ta-top" style="margin-bottom:50px">
                TA的分享
  
                </div>
      		</div>
            
        	<div id="my-list" style="margin-top:30px">
            <div class="btn-group">
  <a data-toggle="dropdown" href="#"><span style="font-size: 18px">132</span></a>
  <ul class="dropdown-menu">
    <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
    <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
    <li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
    <li class="divider"></li>
    <li><a href="#"><i class="i"></i> Make admin</a></li>
  </ul>
</div>
            </div>
        </div>
      
      <!--左侧个人名片 -->
      </div>
    </div> <!-- /上方 -->
    
        <div class="container">

      <div class="row">
      
      </div>
      
      <hr>

      <div id="footer" style="text-align: center; font-size: 12px;">
        <p>&copy; Designed by Animetaste.net | Built on  Bootstrap | Contact us | Follow us: <a href="http://weibo.com/animetaste" class="sina">新浪</a>
						<a href="http://site.douban.com/108892/" class="douban">豆瓣</a>
						<a href="http://animetaste.diandian.com/" class="diandian">点点</a></p>
      </div>

    </div> <!-- /下方 -->

    <!-- javascript
    ================================================== -->
    <script src="http://lib.sinaapp.com/js/jquery/1.8.3/jquery.min.js"></script>
    
    
    <script type="text/javascript">
$(function(){
    $(".span3 li").hover(function(){
        $(this).find("span").show();
    },function(){
        $(this).find("span").hide();
    });
});
</script>
    
    <script src="../media/js/bootstrap.js"></script>
<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=652974" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-26067409-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

  </body>
</html>
