<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title><?php echo isset($title) ? "{$title} - AnimeTaste" : "AnimeTaste - 你的眼中有大家的世界"; ?></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AnimeTaste">
    <meta name="author" content="AnimeTaste">
	<meta name="apple-itunes-app" content="app-id=444912104">
    <meta name="apple-itunes-app" content="app-id=578126052">
    <!-- Le styles -->
    <link href="../media/css/bootstrap.css" rel="stylesheet">

    <link href="../media/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
  </head>

  <body background="../images/web_bg.jpg">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
              <li class="active"><a href="#">首页</a></li>
              <li><a href="/">热榜</a></li>
              <li><a href="http://animetaste.net/" target="_blank">APPs</a></li>
            </ul>
            <div class="navbar-form pull-right">
<!--search 
<div class="input-append">
  <input class="span2" id="appendedInputButton" type="text">
  <button class="btn" type="button">Go!</button>
</div> /search -->
<div id="card-button">
  <button class="btn btn-block btn-red" type="button" style=" width:40px; height:30px"><img src="../images/plus.png" /></button></div>

            </div>
            
          </div><!--/.nav-collapse -->
          <div class="nav-collapse collapse">
        </div>
      </div>        <div style="background-image:url(../images/bgline.png); background-repeat:repeat-x; height:2px"></div>
    </div>

    <div class="container" style="margin:30px auto 20px auto">

      <div class="row">
      <div class="span11 shadow" > 
      <div id="title" style="padding:20px;">
      	<span style="color: #2C2C2C; font-size: 18px; font-weight: bold;">还差一步</span><br />
      	<span style="color: #7F7F7F; font-weight: bold;">好吃看得见</span>
		<div class="hr2"></div>
	  </div>
      <!-- 编辑区域--> 
	  <div class="span6" style="margin-left:0;padding:0 0 0 20px;"> 

      <form class="form-horizontal" action="ajax/edit_video.php" method="POST">
				<input type="hidden" name="id" value="<?=$video->id?>" />
				<div class="control-group">
					<label class="control-label2" for="input01">标题</label>
					<div class="controls2">
						<input type="text" class="input span4" id="input01" name="title" placeholder="视频的名字" value="<?=$video->title?>">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label2" for="input01">标签</label>
					<div class="controls2">
						<select name="pre_tag" id="pre_tag" class="span1">
							<?php
								foreach ($tags as $each_tag) {
							?>
									<option value=<?=$each_tag->id?>><?=$each_tag->name?></option>
							<?
								}
							?>
						</select>
						<input type="text" class="input span4" id="input01" name="tags" placeholder="用空格分开哦亲！" value="<?=$video->tags?>">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label2" for="input01">描述</label>
					<div class="controls2">
						<textarea placeholder="只转不评的同志不是好同志。" class="span4" name="description"><?=$video->description?></textarea>
					</div>
				</div>
				<div style="margin:10px 0 0 60px;">
					<input type="submit" class="btn btn-red" value="恩，就这样吧！" />
					
				</div>
			</form>
		</div>
		<!-- /编辑区域-->
		<!--右侧预览区 -->
        <div class="span3"> 
        	<div class="shadow" style="padding:10px; margin-bottom:20px;">
              
      		</div>
        </div>
      
		<!--右侧预览区 -->
      </div>
      
      </div>
    </div> <!-- /上方 -->
    
        <div class="container">

      <div class="row">
      
      </div>
      
      <hr>

      <div id="footer" style="text-align: center; font-size: 12px;">
        <p>&copy; Designed by Animetaste.net | Built on  Bootstrap | Contact us | Follow us: <a href="http://weibo.com/animetaste" class="sina">新浪</a>
						<a href="http://site.douban.com/108892/" class="douban">豆瓣</a>
						<a href="http://animetaste.diandian.com/" class="diandian">点点</a></p>
      </div>

    </div> <!-- /下方 -->

    <!-- javascript
    ================================================== -->
    <script src="http://lib.sinaapp.com/js/jquery/1.8.3/jquery.min.js"></script>
    
    
    <script type="text/javascript">
$(function(){
    $(".span3 li").hover(function(){
        $(this).find("span").show();
    },function(){
        $(this).find("span").hide();
    });
});
</script>
    
    <script src="../media/js/bootstrap.js"></script>
<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=652974" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-26067409-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

  </body>
</html>
